.NYC {
    background-color: aquamarine;
}

.BEC {
    background-color : yellow;
}

.CC {
    background-color : rgb(195, 75, 75);
    color : white;
}

img {
    width : 800px;
    height : 500px;
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 50%;
}

h1, h3, div{
    text-align : center;
}

ul {
    display : table;
    margin : 0 auto;
    text-align : left;
}